*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.wrap {
    max-width: 1024px;
    display: flex;
    justify-content: center;
    height: auto;
}
.container {
    max-width: 940px;
    border: 1px solid blue;
}
.header {
    max-width: 940px;
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.header ul {
    display: flex;
    align-items: center;
}

.header li {
    cursor: pointer;
    margin: 0 20px;
    text-align: left;
    font: normal normal 600 16px/73px PingFang TC;
    letter-spacing: 0px;
    color: #3F5D45;
    opacity: 1;
}

.header li img {
    position: absolute;
    top: 56px;
    width: 20px;
    height: 20px;
}

.header img {
    width: 211px;
    height: 40px;    
}

.content {
    max-width: 940px;
}

.banner {
    height: auto;
    margin-bottom: 60px;
}

.product-bar {
    width: 940px;
    display: flex;
    justify-content: space-between;
}

.side-bar {
    box-sizing: border-box;
    width: 300px;
   
}

.side-bar li{
    border: 1px solid #EAF0ED;
    text-align: center;
    padding: 16px 40px;
    color: #3F5D45;
    font: normal normal 600 24px/40px PingFang TC;
    font-size: 24px;;
}

.side-bar li:first-child{
    background-color: #3F5D45;
    font: normal normal 600 24px/40px PingFang TC;
    letter-spacing: 0px;
    color: #EAF0ED;
    opacity: 1;
}

.side-bar li:nth-child(0n+2) {
    background-color: #EAF0ED;
    border: 1px solid #EAF0ED;
    opacity: 1;
}

.product-list{
    width: 640px;
    display: flex;
    flex-wrap: wrap;
}

.product-list img {
    width: 300px;
}

.item {
    margin-left: 20px; 
    position: relative;
}
.product-text {
    width: 300px;
    display: flex;
    justify-content: space-around;
}

.product-text h3 {
    padding: 14px 33px;
    font: normal normal 300 20px/20px PingFang TC;
    letter-spacing: 0px;
    color: #3F5D45;
    opacity: 1;
}

.product-text p {
    padding: 14px 25px;
    text-align: center;
    font: normal normal 600 20px/24px PingFang TC;
    letter-spacing: 0px;
    color: #3F5D45;
    opacity: 1;
    border-left: 1px solid #EAF0ED;
}

.cart {
    width: 300px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    background: #EAF0ED 0% 0% no-repeat padding-box;
    border: 1px solid #EAF0ED;
    opacity: 1;
}

.cart a {
    /* padding: 16px 90px; */
    padding: 16px 89px;
    text-align: center;
    text-decoration: none;
    font: normal normal 600 24px/20px PingFang TC;
    font-size: 24px;
    letter-spacing: 0px;
    color: #3F5D45;
    opacity: 1;
}

.cate{
    background-color: #3F5D45;;
    font-size: 1rem;
    position: absolute;
    writing-mode: vertical-lr;
    top: 0;
    left: 0;
    padding: 10px;
    letter-spacing: 0px;
    color: #EAF0ED;
    margin-left: 15px;
}

.heart img {
    width: 20px;
    height: 18px;
    position: absolute;
    bottom: 410px;
    left: 265px;
}

.page {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.page li{
    cursor: pointer;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    font: normal normal 600 20px/20px PingFang TC;
    padding: 16px 26px;
    letter-spacing: 0px;
    color:#3F5D45;
    opacity: 1;
    margin-top: 26px;
    margin-bottom: 76px;
    border: 1px solid #EAF0ED;
}

.page li:nth-child(0n+2) {
    color: #EAF0ED;
    background: #3F5D45 0% 0% no-repeat padding-box;
    opacity: 1;
}

.subscribe {
    max-width: 1024px;
    background-color: #3F5D45;;
}

.sub-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
    padding-bottom: 41px;
}

.sub-logo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 112px;
}

.sub-logo p {
    font-size: 24px;
    margin: 0 20px;
    text-align: left;
    font: normal normal normal 24px/29px Helvetica Neue;
    letter-spacing: 0px;
    color: #EAF0ED;
    opacity: 1;
}

.sub-email {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 122px;
}

.sub-email input {
    color: #3f5d45;
    font-size: 1.2rem;
    width: 260px;
    height: 56px;
    padding: 10px;
    outline: none;
    border: none;
}

.sub-email .icon, .sub-email label{
    height: 56px;
    line-height: 56px;
    padding: 6px 18px;
    background: #fff;
  }
  
.sub-email label {
    cursor: pointer;
    background: #ffe180;
  }

.footer {
    max-width: 1024px;
    background: #EAF0ED 0% 0% no-repeat padding-box;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    background: #EAF0ED 0% 0% no-repeat padding-box;
    opacity: 1;
}

.footer-left {
    display: flex;
    flex-direction: column;
    margin-left: 122px;
}

.footer-logo {
    margin-top: 40px;
    margin-bottom: 116px;
}

.footer-info p {
    font-size: 16px;
    text-align: left;
    font: normal normal normal 16px/24px Helvetica Neue;
    letter-spacing: 0px;
    color: #3F5D45;
    opacity: 1;
}

.footer-right p, .footer-right span{
    margin-top: 30px;
    font-size: 26px;
    width: 59px;
    height: 259px;
    writing-mode: vertical-rl;
    color: #3F5D45;
    opacity: 1;
    margin-right: 122px;
    font-weight: 600;
}

.footer-right span {
    text-indent: 11px;
}

.footer-bottom {
    padding-bottom: 30px;
}

.footer-icon {
    margin-left: 122px;
}

.footer-icon img {
    cursor: pointer;
    width: 32px;
    height: 32px;
}

.footer-text {
    margin-top: 16px;
    margin-right: 122px;
    font-size: 16px;
    text-align: center;
    font: normal normal normal 16px/19px Times;
    letter-spacing: 0px;
    color: #3F5D45;
    opacity: 1;
}
