/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*---額外--*/
*,*:before,*:after {
    box-sizing: border-box;
}
img {
    display: block;
}
/*---外容器---*/
.wrap {
    max-width: 940px;
    margin: 0 auto;

}
/*---頁首---*/
.header {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.header ul {
    display: flex;
    align-items: center;
}

.header li {
    cursor: pointer;
    margin: 0 20px;
    text-align: left;
    font: normal normal 600 16px/73px PingFang TC;
    letter-spacing: 0px;
    color: #3F5D45;
}

.header li img {
    position: absolute;
    top: 56px;
    width: 20px;
    height: 20px;
}

.header img {
    width: 211px;
    height: 40px;    
}
/*---內容----*/
.banner {
    height: auto;
    margin-bottom: 60px;
}

.product-bar {
    display: flex;
    justify-content: space-between;
}
/*---側邊選單----*/
.side-bar {
    width: 300px;
    padding-right: 20px;
}

.side-bar h2 {
    border: 1px solid #EAF0ED;
    text-align: center;
    padding: 16px 40px;
    color: #3F5D45;
    font: normal normal 600 24px/40px PingFang TC;
    font-size: 24px;
    color: #EAF0ED;
    background-color: #3F5D45;
    border: none;
}

.side-bar li{
    border: 1px solid #EAF0ED;
    text-align: center;
    padding: 16px 40px;  
}

.side-bar a {
    text-decoration: none;
    color: #3F5D45;
    font: normal normal 600 24px/40px PingFang TC;
    font-size: 24px;;
}

.side-bar li:first-child{
    background-color: #EAF0ED;
    font: normal normal 600 24px/40px PingFang TC;
    letter-spacing: 0px;
    color: #EAF0ED;
}

/*---產品表單----*/
.product-list{
    width: 640px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-list img {
    width: 300px;
}

.item {
    position: relative;
}
.product-text {
    width: 300px;
    display: flex;
    justify-content: space-around;
}

.product-text h3 {
    padding: 14px 33px;
    font: normal normal 300 20px/20px PingFang TC;
    letter-spacing: 0px;
    color: #3F5D45;
}

.product-text p {
    padding: 14px 25px;
    text-align: center;
    font: normal normal 600 20px/24px PingFang TC;
    letter-spacing: 0px;
    color: #3F5D45;
    border-left: 1px solid #EAF0ED;
}
/*---購物車----*/
.cart {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #3F5D45;
    font: normal normal 600 24px/20px PingFang TC;
    background: #EAF0ED 0% 0% no-repeat padding-box;
    border: 1px solid #EAF0ED;
    padding: 16px 0;
    text-decoration: none;
    letter-spacing: 0px;
}

/*---本日精選----*/
.cate{
    background-color: #3F5D45;;
    font-size: 1rem;
    position: absolute;
    writing-mode: vertical-lr;
    top: 0;
    left: 0;
    padding: 10px;
    letter-spacing: 0px;
    color: #EAF0ED;
    margin-left: 15px;
}

.heart img {
    width: 20px;
    height: 18.35px;
    position: absolute;
    top: 19px;
    right:22px;
}

.page {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.page li{
    cursor: pointer;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    font: normal normal 600 20px/20px PingFang TC;
    padding: 16px 26px;
    letter-spacing: 0px;
    color:#3F5D45;
    margin-top: 10px;
    margin-bottom: 76px;
    border: 1px solid #EAF0ED;
}

.page li:nth-child(0n+2) {
    color: #EAF0ED;
    background: #3F5D45 0% 0% no-repeat padding-box;
}


/*--訂閱區--*/
.subscribe {
    background-color: #3F5D45;
}
.sub-container{
    display: flex;
    justify-content: space-between;
    width: 780px;
    margin: 0 auto;
    padding: 42px 0;
}
.sub-logo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 124px;
}

.sub-logo img {
    margin-right: 20px;
}

.sub-logo p {
    font-size: 24px;
    color: #EAF0ED;
    font: normal normal normal 24px/29px Helvetica Neue;
}

.sub-email {
    width: 380px;
    display: flex;
    justify-content: space-between;
    background-color:#EAF0ED
}

.email i {
    color: #3F5D45;
    padding: 20px 20px;
    background-color:#EAF0ED
}
.arrow i{
    color: #3F5D45;
    padding: 20px 24px;
    background-color: #FFE180;
}
.material-icons1 {
    width: 24px;
    height: 24px;

}
/*---頁尾----*/
.footer {
    background: #EAF0ED 0% 0% no-repeat padding-box;
}

.footer-container{
    width: 780px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background: #EAF0ED 0% 0% no-repeat padding-box;
}

.footer-left {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    margin-top: 40px;
    margin-bottom: 116px;
}
.footer-info li {
    font-size: 16px;
    line-height: 1.5rem;
    text-align: left;
    font: normal normal normal 16px/24px Helvetica Neue;
    letter-spacing: 0px;
    color: #3F5D45;
}

.footer-right p, .footer-right span{
    margin-top: 30px;
    font-size: 26px;
    width: 59px;
    height: 259px;
    writing-mode: vertical-rl;
    color: #3F5D45;
    font-weight: 600;
}

.footer-right span {
    text-indent: 11px;
}

.footer-bottom {
    padding-bottom: 30px;
}

/*---頁尾-底部---*/
.footer-icon {
    display: flex;
}

.footer-icon li {
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin-right: 8px;

}
.footer-text {
    margin-top: 16px;
    font-size: 16px;
    text-align: center;
    font: normal normal normal 16px/19px Times;
    letter-spacing: 0px;
    color: #3F5D45;
}
